<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.appunivespcurso">

    <uses-permission android:name="android.permission.INTERNET" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_panfleto"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_panfleto"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">

        <activity
            android:name=".activitys.MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activitys.LoginActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:parentActivityName=".activitys.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activitys.ListClientActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:parentActivityName=".activitys.ListClientActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activitys.CarrefourActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:parentActivityName=".activitys.CarrefourActivity"
            android:screenOrientation="portrait"
            android:theme="@style/carrefour" />
        <activity
            android:name=".activitys.LojasAmericanasActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:parentActivityName=".activitys.LojasAmericanasActivity"
            android:screenOrientation="portrait"
            android:theme="@style/lojas_americanas" />
        <activity
            android:name=".activitys.WallMartActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:parentActivityName=".activitys.WallMartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/walmart" />
        <activity
            android:name=".activitys.ExtraActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:parentActivityName=".activitys.ExtraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/extra" />
        <activity
            android:name=".activitys.AboutActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:parentActivityName=".activitys.AboutActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".extensions.Extensions" />
        <activity android:name=".adapters.X" />
        <activity android:name=".activitys.CrudClientesActivity" />
        <activity android:name=".interfaces.Ilogin" />
        <activity android:name=".Utils.ValidaDados" />
        <activity android:name=".interfaces.ImplIlogin" />
        <activity android:name=".Utils.Crud" />
        <activity android:name=".Utils.Campos" />
        <activity android:name=".Utils.Validador" />
        <activity android:name=".interfaces.Info" />
        <activity android:name=".Utils.Info" />

    </application>

</manifest>